.logo {
  font-family: "Supermercado One", cursive;
  font-size: 24px;
}

.navbar {
  font-family: "Lato", sans-serif;
  background-color: inherit;
  color: white;
}

.header {
  font-family: "Source Sans Pro", sans-serif;
}

.is-green {
  color: #3ddc97;
}

.is-orange {
  color: #f3c14d;
}

.nav-button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
}

.nav-button:hover {
  background-color: white;
  color: #4e148c;
  border: 1px solid white;
}

@media only screen and (max-width: 1023px) {
  #navbar {
    position: absolute;
    width: 100vw;
    z-index: 100;
  }
}
