body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button {
  transition: 0.7s ease;
}

.button:hover {
  transform: translateY(-3px);
}

.is-green {
  color: #3ddc97;
}

.is-orange {
  color: #f3c14d;
}

.is-blue {
  color: #70b6f7;
}

.is-purple {
  color: #a448f6;
}

.is-full-width-button {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}
